:root {
    --navbar-height: '';
}

@media (min-width: 992px) {
    html, body {
        height: 100%;
        margin: 0;
    }

    #content {
        height: calc(100% - (var(--navbar-height)));
    }
}

@media (max-width: 1199px) {
    #ratios {
        height: 260px;
    }
}

@media (max-width: 991px) {
    #map-col {
        height: 350px;
    }
}