{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'index' %}

{# Set page title #}
{% block title %}NBA Stats{% endblock %}

{# Web content code goes here #}
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

{% block script %}
        var myMap = L.map("map", {
          center: [45.52, -122.67],
          zoom: 13
        });
        
        // Adding a tile layer (the background map image) to our map:
        // We use the addTo() method to add objects to our map.
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(myMap);
        
        // Creating a new marker:
        // We pass in some initial options, and then add the marker to the map by using the addTo() method.
        var marker = L.marker([45.52, -122.67], {
          draggable: true,
          title: "My First Marker"
        }).addTo(myMap);
  
  
  {% endblock %}