{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'ratio' %}

{# Set page title #}
{% block title %}Test1{% endblock %}

{# Web content code goes here #}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div id="treemap"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    let labels = {{ labels|safe }};
    let parents = {{ parents|safe }};
    let values = {{ values|safe }};
    let color = {{ colors|safe }};

    var data = [{
        type: "treemap",
        <!-- branchvalues: "total", -->
        labels: labels,
        parents: parents,
        values:  values,
        outsidetextfont: {"size": 20, "color": "#377eb8"},
        marker: {colors: color},
        pathbar: {"visible": false}
    }];

    let layout = {
        margin: {
            l: 0,
            r: 0,
            b: 0,
            t: 0
        },
        font: {
            family: "Nunito Sans"
        }
    };

    let config = {responsive: true};

    Plotly.newPlot('treemap', data, layout, config);
{% endblock %}