{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'salaries' %}

{# Set page title #}
{% block title %}Test{% endblock %}

{# Web content code goes here #}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div id="treemap"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    let labels = {{ labels|safe }};
    let parents = {{ parents|safe }};
    let values = {{ values|safe }};

    let data = [{
        type: "treemap",
        labels: labels,
        parents: parents,
        values: values,
        branchvalues: "total"
    }];

    let config = {responsive: true};

    Plotly.newPlot('treemap', data, config);
{% endblock %}