{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'salaries' %}

{# Set page title #}
{% block title %}Salaries{% endblock %}

{# Web content code goes here #}
{% block content %}
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <div id="treemap"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    let labels = {{ labels|safe }};
    let parents = {{ parents|safe }};
    let values = {{ values|safe }};

    let data = [{
        type: "sunburst",
        labels: labels,
        parents: parents,
        values: values,
        branchvalues: "total",
        maxdepth: 4,
        marker: {
            colors: []
        }
    }];

    let layout = {
        margin: {
            l: 0,
            r: 0,
            b: 0,
            t: 0
        }
    }

    let config = {responsive: true};

    Plotly.newPlot('treemap', data, layout, config);
{% endblock %}