{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'sector' %}

{# Set page title #}
{% block title %}Sponsors' Sector{% endblock %}

{# Web content code goes here #}
{% block content %}
    <div class="row">
        <div class="col-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}
{% block script %}
    let labels = {{ labels|safe }};
    let datasets = {{ datasets|safe }}

    console.log(labels)
    console.log(datasets)
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: labels,
            datasets: datasets
        }
    });
{% endblock %}