{% extends "base.html" %}

{# Set active class tag for navigation bar #}
{% set active_page = 'wins' %}

{# Set page title #}
{% block title %}Wins{% endblock %}

{# Web content code goes here #}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div id="treemap"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
    let label = {{ label|safe }};
    let parent = {{ parent|safe }};
    let value = {{ value|safe }};
    let color = {{ colors|safe }};

    let data = [{
        type: "treemap",
        branchvalues: "total",
        labels: label,
        parents: parent,
        values:  value,
        marker: {colors: color}
    }];

    let layout = {
        margin: {
            l: 0,
            r: 0,
            b: 0,
            t: 0
        },
        font: {
            family: "Nunito Sans"
        }
    };

    let config = {responsive: true};

    Plotly.newPlot('treemap', data, layout, config);
{% endblock %}